Ork.CarbonFootprint/Service References/PositionDataProvider/PositionDataContext.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
  xmlns:tns="http://tempuri.org/"
  elementFormDefault="qualified"
  targetNamespace="http://tempuri.org/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import
    schemaLocation="http://localhost:7000/PositionDataContext?xsd=xsd2"
    namespace="http://schemas.datacontract.org/2004/07/OpenResKit.CarbonFootprint.Positions" />
  <xs:element
    name="GetFullyQualifiedCarData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element
    name="GetFullyQualifiedCarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element
          xmlns:q1="http://schemas.datacontract.org/2004/07/OpenResKit.CarbonFootprint.Positions"
          minOccurs="0"
          name="GetFullyQualifiedCarDataResult"
          nillable="true"
          type="q1:ArrayOfFullyQualifiedCarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element
    name="GetAirportData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element
    name="GetAirportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element
          xmlns:q2="http://schemas.datacontract.org/2004/07/OpenResKit.CarbonFootprint.Positions"
          minOccurs="0"
          name="GetAirportDataResult"
          nillable="true"
          type="q2:ArrayOfGlobalAirport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>