Ork.Waste/Service References/AVVCatalog/AVVCatalogue.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
  xmlns:tns="http://tempuri.org/"
  elementFormDefault="qualified"
  targetNamespace="http://tempuri.org/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import
    schemaLocation="http://localhost:7000/AVVCatalogue?xsd=xsd2"
    namespace="http://schemas.datacontract.org/2004/07/OpenResKit.Waste" />
  <xs:element
    name="GetAvvCatalogue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element
    name="GetAvvCatalogueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element
          xmlns:q1="http://schemas.datacontract.org/2004/07/OpenResKit.Waste"
          minOccurs="0"
          name="GetAvvCatalogueResult"
          nillable="true"
          type="q1:ArrayOfAvvWasteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>